@media (max-width: 690px){
    .section-details{
        display: flex;
        flex-direction: column;
    }
    .section-details img{
        width:200px;
    }
    .section-details div h1{
        font-size: 15px;
    }
    .container .production .div{
        position: absolute;
        top: 730px;
        width:50%;
    }
    .container .overview .div{
        position: absolute;
        top: 700px;
        width:50%;
    }
    .container .genre .div{
        position: absolute;
        top: 660px;
        width:50%;
    }
}

@media (max-width: 470px){
    .container .production .div{
        position: absolute;
        top: 890px;
        width:50%;
    }
    .container .overview .div{
        position: absolute;
        top: 850px;
        width:50%;
    }
    .container .genre .div{
        position: absolute;
        top: 810px;
        width:50%;
    }
}